<a href="https://colab.research.google.com/github/seongheek/econtheory/blob/main/8%EC%A3%BC%EC%B0%A8_%EA%B0%95%EC%9D%98_%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **회귀분석**
경제이해력 자료를 사용하여 다중회귀분석을 시행해보자.

In [1]:
#데이터 불러오고 전처리

import pandas as pd
import numpy as np

df=pd.read_excel('econliteracy.xlsx', index_col=0)

df = df.rename(columns={'sq1': 'gender', 'sq2': 'age', 'sq3': 'region', 'sq4': 'job', 'sq5': 'edu', 'sq6': 'income'})  #열 이름 바꾸기

df=df.dropna(subset=['gender'])        #성별 정보가 누락된 샘플 제거

df['income'] = df['income'].replace(8, 7)     #income 이 8인 사람들을 7로 바꾸어 준다.

직업, 지역 변수도 특이사항이 없는지 미리 확인하자.

In [2]:
df['job'].value_counts().sort_index()

job
1    10
2    47
3    55
4    51
5    70
6     3
7    40
8    11
9    10
Name: count, dtype: int64

직업의 6번 카테고리(관리직/전문직)가 소수이므로 유사한 5번 카테고리(사무직)와 통합해주자.

In [3]:
df['job'] = df['job'].replace(6, 5)

In [4]:
df['edu'].value_counts().sort_index()

edu
1     24
2    134
3    139
Name: count, dtype: int64

In [5]:
df['edu'] = df['edu'].replace(1, 2)

지역도 확인해보자.

In [6]:
df['region'].value_counts().sort_index()

region
1     54
2     23
3     15
4     13
5     10
6      8
7      9
8      4
9     83
10    10
11    10
12    16
13     8
14     3
15    14
16    17
Name: count, dtype: int64

현재 표본 수에 비해 지역 카테고리가 많으므로, 권역별로 묶어보자. 수도권(1), 중부권(2), 영남권(3), 호남권(4) 이렇게 네 카테고리를 만들어보자. replace 명령어를 써도 되지만 권역을 나타내는 새로운 변수를 생성해보자.

In [7]:
df['region2'] = df['region'].apply(
    lambda x: 1 if x in [1, 4, 9]
    else 2 if x in [6, 7, 8, 10, 11, 12]
    else 3 if x in [2, 3, 7, 15, 16]
    else 4 if x in [5, 13, 14]
    else None
)

In [8]:
df['region2'].value_counts().sort_index()

region2
1    150
2     57
3     69
4     21
Name: count, dtype: int64

주요 변수들의 기초통계량을 뽑아보자.

In [9]:
df[['score', 'gender', 'age', 'job', 'income', 'edu', 'region2']].describe()

,score,gender,age,job,income,edu,region2
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,57.441077,1.461279,48.787879,4.363636,3.538721,2.468013,1.868687
std,19.800971,0.499340,15.470944,1.973410,1.643789,0.499818,1.003169
min,15.000000,1.000000,18.000000,1.000000,1.000000,2.000000,1.000000
25%,45.000000,1.000000,36.000000,3.000000,2.000000,2.000000,1.000000
50%,60.000000,1.000000,48.000000,4.000000,4.000000,2.000000,1.000000
75%,70.000000,2.000000,62.000000,5.000000,5.000000,3.000000,3.000000
max,100.000000,2.000000,79.000000,9.000000,7.000000,3.000000,4.000000

카테고리 변수들의 경우, 평균값 등이 의미가 없으므로 value_counts 명령어를 수정하여 비율로 나타내는 것이 더 낫다.

In [10]:
df['region2'].value_counts(normalize=True).sort_index()

region2
1    0.505051
2    0.191919
3    0.232323
4    0.070707
Name: proportion, dtype: float64

In [11]:
(df['region2'].value_counts(normalize=True) * 100).round(2).sort_index()  #퍼센티지로 환산 후 소수점 2자리까지

region2
1    50.51
2    19.19
3    23.23
4     7.07
Name: proportion, dtype: float64

성별의 경우, 더미변수이다. 남성 더미를 분석에 사용하면 되므로, 여성 값을 2에서 0으로 처리해준다.

In [12]:
df['gender'] = df['gender'].replace(2, 0)

In [13]:
df

,q1,a1,b1,q2,a2,b2,q3,a3,b3,q4,...,A9_A,A9e,gender,age,ssq2,region,job,edu,income,region2
ID,,,,,,,,,,,,,,,,,,,,,
1,3,3,1,1,1,1,3,2,0,4,...,2,NaN,1.0,56,5,2,4,2,6,3
3,3,3,1,1,1,1,2,2,1,4,...,4,NaN,1.0,36,3,1,5,3,4,1
4,2,3,0,3,1,0,1,2,0,3,...,2,NaN,0.0,62,6,1,7,3,1,1
5,3,3,1,1,1,1,2,2,1,2,...,6,NaN,0.0,33,3,7,3,3,2,2
6,1,3,0,1,1,1,2,2,1,4,...,1,NaN,0.0,63,6,9,3,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,1,3,0,1,1,1,2,2,1,4,...,4,NaN,0.0,38,3,13,7,3,1,4
297,3,3,1,2,1,0,3,2,0,1,...,2,NaN,1.0,54,5,1,3,2,7,1
298,3,3,1,1,1,1,2,2,1,3,...,1,NaN,1.0,74,7,9,2,3,3,1
299,2,3,0,2,1,0,2,2,1,1,...,4,NaN,1.0,27,2,1,5,3,7,1
300,3,3,1,1,1,1,4,2,0,1,...,4,NaN,1.0,59,5,8,4,2,5,2

회귀분석을 해보자. statsmodels 패키지를 사용한다.

In [14]:
import statsmodels.formula.api as smf

model = smf.ols('score ~ age', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.033
Method:                 Least Squares   F-statistic:                     11.04
Date:                Wed, 30 Apr 2025   Prob (F-statistic):            0.00100
Time:                        06:26:37   Log-Likelihood:                -1302.2
No. Observations:                 297   AIC:                             2608.
Df Residuals:                     295   BIC:                             2616.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     69.3001      3.744     18.510      0.000      61.932      76.668
age           -0.2431      0.073     -3.322      0.001      -0.387      -0.099
==============================================================================
Omnibus:                       13.480   Durbin-Watson:                   1.875
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                6.649
Skew:                          -0.134   Prob(JB):                       0.0360
Kurtosis:                       2.317   Cond. No.                         170.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

통제변수를 여러개 추가해보자.

In [15]:
model = smf.ols('score ~ age + gender', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.041
Method:                 Least Squares   F-statistic:                     7.389
Date:                Wed, 30 Apr 2025   Prob (F-statistic):           0.000739
Time:                        06:26:55   Log-Likelihood:                -1300.4
No. Observations:                 297   AIC:                             2607.
Df Residuals:                     294   BIC:                             2618.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     67.2014      3.886     17.292      0.000      59.553      74.850
age           -0.2476      0.073     -3.398      0.001      -0.391      -0.104
gender         4.3085      2.258      1.908      0.057      -0.135       8.752
==============================================================================
Omnibus:                       11.522   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.003   Jarque-Bera (JB):                6.204
Skew:                          -0.147   Prob(JB):                       0.0450
Kurtosis:                       2.356   Cond. No.                         180.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

카테고리 변수의 경우, C로 묶으면 된다.

In [16]:
model = smf.ols('score ~ age + gender+C(region2)', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.071
Model:                            OLS   Adj. R-squared:                  0.055
Method:                 Least Squares   F-statistic:                     4.424
Date:                Wed, 30 Apr 2025   Prob (F-statistic):           0.000672
Time:                        06:27:05   Log-Likelihood:                -1296.8
No. Observations:                 297   AIC:                             2606.
Df Residuals:                     291   BIC:                             2628.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          69.6286      3.971     17.534      0.000      61.813      77.444
C(region2)[T.2]    -7.5056      2.999     -2.502      0.013     -13.409      -1.602
C(region2)[T.3]    -4.4521      2.818     -1.580      0.115      -9.998       1.094
C(region2)[T.4]    -3.8732      4.521     -0.857      0.392     -12.772       5.026
age                -0.2440      0.073     -3.325      0.001      -0.388      -0.100
gender              4.5747      2.246      2.037      0.043       0.154       8.995
==============================================================================
Omnibus:                       12.427   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.002   Jarque-Bera (JB):                6.778
Skew:                          -0.174   Prob(JB):                       0.0337
Kurtosis:                       2.347   Cond. No.                         215.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [18]:
model = smf.ols('score ~ age + gender+C(edu)+C(income)+C(job)+ C(region2)', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.151
Model:                            OLS   Adj. R-squared:                  0.092
Method:                 Least Squares   F-statistic:                     2.583
Date:                Wed, 30 Apr 2025   Prob (F-statistic):           0.000415
Time:                        06:27:30   Log-Likelihood:                -1283.5
No. Observations:                 297   AIC:                             2607.
Df Residuals:                     277   BIC:                             2681.
Df Model:                          19
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          59.0718     11.541      5.118      0.000      36.352      81.791
C(edu)[T.3]        10.3140      3.234      3.190      0.002       3.948      16.680
C(income)[T.2]     -6.3567      5.884     -1.080      0.281     -17.939       5.226
C(income)[T.3]     -1.2131      6.156     -0.197      0.844     -13.331      10.905
C(income)[T.4]      0.9609      6.121      0.157      0.875     -11.089      13.011
C(income)[T.5]     -3.7492      6.256     -0.599      0.549     -16.065       8.567
C(income)[T.6]     -1.1439      7.139     -0.160      0.873     -15.197      12.909
C(income)[T.7]     -7.6077      7.663     -0.993      0.322     -22.693       7.478
C(job)[T.2]         1.8551      7.023      0.264      0.792     -11.971      15.681
C(job)[T.3]        -2.6304      7.134     -0.369      0.713     -16.674      11.414
C(job)[T.4]         0.3530      6.761      0.052      0.958     -12.957      13.663
C(job)[T.5]         0.0544      7.447      0.007      0.994     -14.605      14.714
C(job)[T.7]         0.4468      8.461      0.053      0.958     -16.210      17.104
C(job)[T.8]       -13.0441     10.672     -1.222      0.223     -34.053       7.965
C(job)[T.9]        -2.7020      8.953     -0.302      0.763     -20.326      14.922
C(region2)[T.2]    -6.1553      3.104     -1.983      0.048     -12.266      -0.044
C(region2)[T.3]    -2.9055      2.945     -0.987      0.325      -8.703       2.892
C(region2)[T.4]    -2.1150      4.720     -0.448      0.654     -11.407       7.177
age                -0.0862      0.114     -0.756      0.450      -0.311       0.138
gender              3.7123      2.756      1.347      0.179      -1.713       9.138
==============================================================================
Omnibus:                        6.045   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.049   Jarque-Bera (JB):                4.854
Skew:                          -0.214   Prob(JB):                       0.0883
Kurtosis:                       2.543   Cond. No.                     1.00e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

카테고리 변수의 준거집단(reference group)을 바꾸고 싶다면 treatment 옵션을 사용하면 된다.

In [20]:
model = smf.ols('score ~ age + gender+C(edu)+C(income)+C(job)+ C(region2, Treatment(reference=4))', data=df).fit()  #호남권을 준거집단으로
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.151
Model:                            OLS   Adj. R-squared:                  0.092
Method:                 Least Squares   F-statistic:                     2.583
Date:                Wed, 30 Apr 2025   Prob (F-statistic):           0.000415
Time:                        06:27:43   Log-Likelihood:                -1283.5
No. Observations:                 297   AIC:                             2607.
Df Residuals:                     277   BIC:                             2681.
Df Model:                          19
Covariance Type:            nonrobust
===========================================================================================================
                                              coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------
Intercept                                  56.9567     11.593      4.913      0.000      34.135      79.778
C(edu)[T.3]                                10.3140      3.234      3.190      0.002       3.948      16.680
C(income)[T.2]                             -6.3567      5.884     -1.080      0.281     -17.939       5.226
C(income)[T.3]                             -1.2131      6.156     -0.197      0.844     -13.331      10.905
C(income)[T.4]                              0.9609      6.121      0.157      0.875     -11.089      13.011
C(income)[T.5]                             -3.7492      6.256     -0.599      0.549     -16.065       8.567
C(income)[T.6]                             -1.1439      7.139     -0.160      0.873     -15.197      12.909
C(income)[T.7]                             -7.6077      7.663     -0.993      0.322     -22.693       7.478
C(job)[T.2]                                 1.8551      7.023      0.264      0.792     -11.971      15.681
C(job)[T.3]                                -2.6304      7.134     -0.369      0.713     -16.674      11.414
C(job)[T.4]                                 0.3530      6.761      0.052      0.958     -12.957      13.663
C(job)[T.5]                                 0.0544      7.447      0.007      0.994     -14.605      14.714
C(job)[T.7]                                 0.4468      8.461      0.053      0.958     -16.210      17.104
C(job)[T.8]                               -13.0441     10.672     -1.222      0.223     -34.053       7.965
C(job)[T.9]                                -2.7020      8.953     -0.302      0.763     -20.326      14.922
C(region2, Treatment(reference=4))[T.1]     2.1150      4.720      0.448      0.654      -7.177      11.407
C(region2, Treatment(reference=4))[T.2]    -4.0403      5.043     -0.801      0.424     -13.968       5.888
C(region2, Treatment(reference=4))[T.3]    -0.7905      4.842     -0.163      0.870     -10.322       8.741
age                                        -0.0862      0.114     -0.756      0.450      -0.311       0.138
gender                                      3.7123      2.756      1.347      0.179      -1.713       9.138
==============================================================================
Omnibus:                        6.045   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.049   Jarque-Bera (JB):                4.854
Skew:                          -0.214   Prob(JB):                       0.0883
Kurtosis:                       2.543   Cond. No.                         985.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

황선호, 김성희(2024) 처럼 경제이해력 점수를 세분화시켜보자. 예를 들어, 금융 점수(b12~16)를 생성해보자.

In [21]:
df['finance'] = df[['b12', 'b13', 'b14', 'b15', 'b16']].sum(axis=1)
df['finance']

ID
1      5
3      4
4      2
5      0
6      2
      ..
296    5
297    3
298    3
299    3
300    2
Name: finance, Length: 297, dtype: int64

In [22]:
df['finance']=df['finance']*4   #100점 만점으로 환산
df['finance']

ID
1      20
3      16
4       8
5       0
6       8
       ..
296    20
297    12
298    12
299    12
300     8
Name: finance, Length: 297, dtype: int64

In [23]:
model = smf.ols('finance ~ age + gender+C(region2)', data=df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                finance   R-squared:                       0.051
Model:                            OLS   Adj. R-squared:                  0.035
Method:                 Least Squares   F-statistic:                     3.142
Date:                Wed, 30 Apr 2025   Prob (F-statistic):            0.00886
Time:                        06:28:06   Log-Likelihood:                -887.70
No. Observations:                 297   AIC:                             1787.
Df Residuals:                     291   BIC:                             1810.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          15.1606      1.002     15.136      0.000      13.189      17.132
C(region2)[T.2]    -1.5882      0.757     -2.099      0.037      -3.077      -0.099
C(region2)[T.3]    -1.0259      0.711     -1.443      0.150      -2.425       0.373
C(region2)[T.4]    -1.3181      1.140     -1.156      0.249      -3.563       0.926
age                -0.0555      0.019     -3.000      0.003      -0.092      -0.019
gender              0.3926      0.566      0.693      0.489      -0.722       1.508
==============================================================================
Omnibus:                        8.161   Durbin-Watson:                   1.967
Prob(Omnibus):                  0.017   Jarque-Bera (JB):                6.621
Skew:                          -0.274   Prob(JB):                       0.0365
Kurtosis:                       2.515   Cond. No.                         215.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# **연습문제**


*   논문에서 경제이해력의 세부항목을 선택하여 종속변수로 삼고, 통제변수를 넣어 회귀분석을 한 후 각 변수를 해석해보세요.
https://padlet.com/nathalieskim/padlet-5q0zb66s5dv95fna